<nav class="navbar navbar-expand-md navbar-light mb-5">
    <div class="container-sm justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" th:href="@{/}">
                <h1 class="p-0 m-0">Todoit</h1>
            </a>
        </div>
        <div>
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="no-link mx-1">
                    <input type="button" class="btn btn-light font-weight-bold" value="Login" />
                </a>
                <a th:href="@{/register}" class="no-link mx-1">
                    <input type="button" class="btn btn-secondary" value="Register" />
                </a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <span class="font-weight-bold" th:text="${#authentication.getPrincipal().getUsername()}"></span>
                <form  th:action="@{/logout}" method="post" class="d-inline">
                    <a class="no-link ms-2">
                        <input type="submit" class="btn btn-secondary" value="Logout" />
                    </a>
                </form>
            </div>
        </div>
    </div>
</nav>