<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head(_)" />
<body>
    <div class="container-sm">
        <h1>Todo Service</h1>
        <div sec:authorize="isAuthenticated()">
            <h2>Welcome <span sec:authentication="name"></span>.</h2>
            <div sec:authorize="hasRole('ROLE_USER')">
                <h3>Todos:</h3>
                <ul>
                    <li th:each="todo: ${todos}">
                        <span th:text="${todo.message}"></span>
                    </li>
                </ul>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <p>Admin stuff goes here...</p>
            </div>
            <a th:href="@{/logout}">
                <input type="button" class="btn btn-primary" value="Logout"/>
            </a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <h2>You are not logged in.</h2>
            <a th:href="@{/login}">
                <input type="button" class="btn btn-primary" value="Login" />
            </a>
            <a th:href="@{/register}">
                <input type="button" class="btn btn-primary" value="Register" />
            </a>
        </div>
    </div>
</body>
</html>