<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(~{::title})">
    <title th:text="'Todo - Login'" />
</head>
<body>
    <nav th:insert="fragments/navbar.html" />
    <div class="container form-container">
        <form id="login-form" class="login-form" method="post" th:action="@{/login}">
            <h2 class="my-4">Login</h2>
            <div th:unless="${param.error == null}" class="alert alert-danger" role="alert">
                <span th:text="${param.error}"></span>
            </div>
            <p class="mb-2">
                <label for="username"> Username</label>
                <input th:value="${username}" type="text" id="username" name="username" class="form-control" placeholder="username" autofocus />
            </p>
            <p class="mb-2">
                <label for="password"> Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="password" />
            </p>
            <div class="my-4">
                <button class="btn btn-primary btn-block" type="submit">Login</button>
                <a class="mx-1" th:href="@{/}">
                    <button class="btn btn-secondary btn-block" type="button">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</body>
</html>